<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的namespace必须和是对应的mapper.java的地址-->
<mapper namespace="com.netEdu.lesson.rate.dao.QuestionnaireDao" >
    <resultMap id="BaseResultMap" type="com.netEdu.entity.Questionnaire" >
        <id column="questionnaire_id" property="questionnaire_id" />
        <result column="creator" property="creator" />
        <result column="survey_questions" property="survey_questions" />
        <result column="create_time" property="create_time" />
        <result column="remarks" property="remarks" />
        <result column="teacher_id" property="teacher_id" />
        <result column="del_flag" property="del_flag" />
    </resultMap>
    <sql id="Base_Column_List" >
        questionnaire_id, creator,survey_questions, create_time,remarks,teacher_id, del_flag
    </sql>

    <!--分页查询列表-->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        SELECT <include refid="Base_Column_List" />
        FROM questionnaire
        WHERE  del_flag = 0
        LIMIT ${pager.startIndex-1},#{pageSize}

    </select>

    <!--根据questionnaire_id 查询单个问卷-->
    <select id="selectByQuestionnaireId" resultMap="BaseResultMap" parameterType="integer">
        SELECT <include refid="Base_Column_List"/> FROM questionnaire
        WHERE questionnaire_id=#{questionnaire_id}
    </select>

</mapper>