<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的namespace必须和是对应的mapper.java的地址-->
<mapper namespace="com.netEdu.lesson.rate.dao.TeacherEvaluateDao" >

    <resultMap id="BaseResultMap" type="com.netEdu.entity.TeacherEvaluate" >
        <id column="evaluate_id" property="evaluate_id" />
        <result column="questionnaire_id" property="questionnaire_id" />
        <result column="student_id" property="student_id" />
        <result column="answers" property="answers" />
        <result column="del_flag" property="del_flag" />
        <result column="teacher_id" property="teacher_id"/>
        <result column="name" property="name"/>
    </resultMap>
    <sql id="Base_Column_List" >
       evaluate_id, questionnaire_id,student_id, answers, t_evaluate.del_flag, t_evaluate.teacher_id, teacher.`name`
    </sql>
    <!--添加教师评论表-->
    <insert id="addTeacherEvaluate" parameterType="com.netEdu.entity.TeacherEvaluate" >
        insert into t_evaluate(questionnaire_id, student_id, answers, del_flag, teacher_id)
		values(#{questionnaire_id}, #{student_id}, #{answers}, #{del_flag}, #{teacher_id})
    </insert>

    <!--分页查询列表-->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        SELECT <include refid="Base_Column_List" />
        FROM t_evaluate
				LEFT JOIN teacher
				ON t_evaluate.teacher_id=teacher.teacher_id
        WHERE  t_evaluate.del_flag = 0
				AND t_evaluate.teacher_id=teacher.teacher_id
        LIMIT ${pager.startIndex-1},#{pageSize}

    </select>
    <!-- t_evaluate 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
        select count(1) from t_evaluate WHERE del_flag = 0
    </select>

    <!--更新教师评论-->
    <update id="upTeacherEvaluate" parameterType="com.netEdu.entity.TeacherEvaluate" >
        update t_evaluate
        set  questionnaire_id = #{questionnaire_id},
        student_id = #{student_id},
        teacher_id = #{teacher_id},
        answers = #{answers},
        del_flag = #{del_flag}
        where  evaluate_id = #{evaluate_id}
    </update>
</mapper>